# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars
*.tfvars.*

# .pub y .pem files
*.pub
*.pem

/backend_config
/tfvars
sshaccess/
node_modules/